<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">De mulher para o mundo</h5>
          <p class="grey-text text-lighten-4">Faça escolhas corajosas e cometa erros. São todas essas coisas que se somam à pessoa que você se torna.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Menu</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Entrar</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Registrar</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Cadastrar Mulher</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Projeto Framework Padawans Bootcamps. 
      </div>
    </div>
</footer>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/javascripts/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
      $('.tabs').tabs();
      $('.sidenav').sidenav();
      $('.modal').modal();
      $('.collapsible').collapsible();
      $('select').formSelect();
      $('.tooltipped').tooltip();
      $('.slider').slider();
      $('input#input_text, textarea#textarea2').characterCounter();
      $('.dropdown-trigger').dropdown();
      $('.fixed-action-btn').floatingActionButton();  
      $('.carousel.carousel-slider').carousel({
      fullWidth: true,
      indicators: true,
      duration: 200,
      noWrap: false     
    });      
    });
    
        
    </script>
</main>
</body>
</html>
