<!DOCTYPE html>
<html>
  <head>
    <title>Womans</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/parallax.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body> 
    <main>
      <div>
        <div class="navbar-fixed">
          <nav>
              <div class="nav-wrapper">
                <a href="/" class="brand-logo center"><img src="/images/logo11.png" alt=""></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                  <li><a href="/">Inicio</a></li>
                  <li><a href="/login/registrar">Registrar-se</a></li>
                  <li><a href="/login">Login</a></li>
                </ul>
              </div>
          </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
          <li><a href="/">Inicio</a></li>
          <li><a href="/login/registrar">Registrar-se</a></li>
          <li><a href="/login">Login</a></li>
        </ul>   
      </div>
     